.app-style {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

.website {
  background: url("images/6.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 94vh;
}